
th.header { 
    background-image: url(/js/tablesorter-master/themes/blue/bg.gif);
    cursor: pointer;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: 100% 50%;
} 
th.headerSortDown { 
    background-image: url(/js/tablesorter-master/themes/blue/desc.gif); 
    background-color: #3399FF; 
} 
th.headerSortUp { 
    background-image: url(/js/tablesorter-master/themes/blue/asc.gif); 
    background-color: #3399FF; 
} 
	
